In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/Users/sinif3-16/Desktop/TWTR.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2264 non-null   object
 1   Open       2259 non-null   float64
 2   High       2259 non-null   float64
 3   Low        2259 non-null   float64
 4   Close      2259 non-null   float64
 5   Adj Close  2259 non-null   float64
 6   Volume     2259 non-null   float64
dtypes: float64(6), object(1)
memory usage: 123.9+ KB

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,44.900002,117701670.0
1,2013-11-08,45.930000,46.939999,40.685001,41.650002,41.650002,27925307.0
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,42.900002,16113941.0
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,41.900002,6316755.0
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,42.599998,8688325.0
...,...,...,...,...,...,...,...
2259,2022-10-28,NaN,NaN,NaN,NaN,NaN,NaN
2260,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN
2261,2022-11-01,NaN,NaN,NaN,NaN,NaN,NaN
2262,2022-11-02,NaN,NaN,NaN,NaN,NaN,NaN
2263,2022-11-03,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop("Date", axis=1, inplace=True)

In [7]:
df

           Open       High        Low      Close  Adj Close       Volume
0     45.099998  50.090000  44.000000  44.900002  44.900002  117701670.0
1     45.930000  46.939999  40.685001  41.650002  41.650002   27925307.0
2     40.500000  43.000000  39.400002  42.900002  42.900002   16113941.0
3     43.660000  43.779999  41.830002  41.900002  41.900002    6316755.0
4     41.029999  42.869999  40.759998  42.599998  42.599998    8688325.0
...         ...        ...        ...        ...        ...          ...
2254  50.000000  50.750000  49.549999  49.889999  49.889999   51209029.0
2255  50.709999  51.860001  50.520000  51.520000  51.520000   22987553.0
2256  52.415001  53.180000  52.200001  52.779999  52.779999   35077848.0
2257  52.950001  53.500000  52.770000  53.349998  53.349998   28064973.0
2258  53.910000  54.000000  53.700001  53.700001  53.700001  136345128.0

[2259 rows x 6 columns]

In [8]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [9]:
df.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.998860  0.998588  0.997414   0.997414 -0.015718
High       0.998860  1.000000  0.998265  0.998731   0.998731 -0.001709
Low        0.998588  0.998265  1.000000  0.998887   0.998887 -0.031352
Close      0.997414  0.998731  0.998887  1.000000   1.000000 -0.019179
Adj Close  0.997414  0.998731  0.998887  1.000000   1.000000 -0.019179
Volume    -0.015718 -0.001709 -0.031352 -0.019179  -0.019179  1.000000

In [10]:
X = df.drop("Open", axis=1)  # Bağımsız değişkenler
y = df["Adj Close"]  # Bağımlı değişken

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
ridge_model = Ridge(alpha=1.0)  # alpha parametresi, düzenlileştirme katsayısını belirler
ridge_model.fit(X_train, y_train)

/Users/sinif3-16/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=3.32791e-18): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

Ridge()

In [17]:
ridge = Ridge(alpha=0.3)
ridge.fit(X_train, y_train)

for col, coef in zip(X_train.columns, ridge.coef_):
    print("Ridge model coefficient for {} is: {}".format(col, coef))

Ridge model coefficient for High is: 0.0001312698541409164
Ridge model coefficient for Low is: 0.00014184841343595187
Ridge model coefficient for Close is: 0.499863408528011
Ridge model coefficient for Adj Close is: 0.49986340850203503
Ridge model coefficient for Volume is: -4.3641495326078665e-13

/Users/sinif3-16/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=9.99515e-19): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

In [19]:
print(ridge.score(X_train, y_train))
print(ridge.score(X_test, y_test))

0.9999999998855497
0.9999999998952825